<table id="zoos-table" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th> Image</th>
      <th> Name</th>
      <th> Address</th>
      <th> City</th>
      <th> State</th>
      <th> Zip</th>
      <th> Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @zoos.each do |zoo| %>
      <tr>
        <td>
          <%= image_tag(zoo.image.url(:thumb)) if zoo.image %>
        </td>
        <td><%=zoo.name%></td>
        <td><%=zoo.address%></td>
        <td><%=zoo.city%></td>
        <td><%=zoo.state%></td>
        <td><%=zoo.zip%></td>
        <td><%= link_to("List Animals", zoo_animals_path(zoo.id))%></td>
      </tr>
    <% end %>
  </tbody>
</table>
